<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>

<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
        class="img1" />
      <p class="header">Create Account to see more</p>
      
      <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" class="detail" /><br />
        <input type="text" name="username" placeholder="Username" class="detail" />
        <input type="text" name="fullName" placeholder="Full Name" class="detail" />
        <input type="password" name="password" placeholder="Password" class="detail" />
        <input type="submit" class="btn int"  value="Create Account"/>
      </form>
      
      <a href="/login">Already have an account? Login</a>
    </div>
  </div>
</body>

</html>