<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <div id="algn">
      <div id="card">
        <div id="upper-bg">
          <img
            src="https://img.freepik.com/free-vector/hand-drawn-side-profile-cartoon-illustration_23-2150517168.jpg?size=338&ext=jpg&ga=GA1.1.1395880969.1709251200&semt=ais"
            alt="profile-pic"
            class="profile-pic"
          />
        </div>
        <div id="lower-bg">
          <div class="text">
            <div>
              <h3 class="name">Full Name</h3>
              <p class="username">@username</p>
            </div>
            <p class="title">
              Web developer & <br />
              Competitive programmer
            </p>
          </div>
          <div id="icons">
            <a href="#" class="ico"
              ><img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/gmail-new.png"
                alt="gmail-new"
            /></a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/fluency/48/github.png"
                alt="github"
              />
            </a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/linkedin.png"
                alt="linkedin"
              />
            </a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/facebook-new.png"
                alt="facebook-new"
              />
            </a>
          </div>
          <!-- <div id="btn">
            <button class="msg">Subscribe</button>
            <button class="msg">Message</button>
          </div> -->

          <!-- <div id="l-c-s">
            <div class="num">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/fluency-systems-regular/48/facebook-like--v1.png"
                alt="facebook-like--v1"
              />
              <span>35k</span>
            </div>
            <div class="num dvr"></div>
            <div class="num">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/fluency-systems-regular/48/speech-bubble--v1.png"
                alt="speech-bubble--v1"
              />
              <span>20k</span>
            </div>
            <div class="num dvr"></div>
            <div class="num">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/pulsar-line/48/share.png"
                alt="share"
              />
              <span>15k</span>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
