<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <div id="algn">
      <div id="card">
        <div id="upper-bg">
          <img
            src="https://img.freepik.com/free-vector/hand-drawn-side-profile-cartoon-illustration_23-2150517168.jpg?size=338&ext=jpg&ga=GA1.1.1395880969.1709251200&semt=ais"
            alt="profile-pic"
            class="profile-pic"
          />
        </div>
        <div id="lower-bg">
          <div class="text">
            <div>
              <p class="name"><%= user.fullName %></p>
              <p class="username">@<%= user.username %></p>
            </div>
            <p class="title">
              Web developer & <br />
              Competitive programmer
            </p>
          </div>
          <div id="icons">
            <a href="#" class="ico"
              ><img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/gmail-new.png"
                alt="gmail-new"
            /></a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/fluency/48/github.png"
                alt="github"
              />
            </a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/linkedin.png"
                alt="linkedin"
              />
            </a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/facebook-new.png"
                alt="facebook-new"
              />
            </a>
          </div>
          <a href="/logout" class="btn-primary logout">Logout</a>
        </div>
      </div>
      <form class="upload-file-form" action="/upload" method="post" enctype="multipart/form-data">
        <input class="inp-desc" type="text" name="description" id="" placeholder="Write something">
        <input class="" type="file" name="file" />
        <button class="btn-primary" type="sybmit">Upload File</button>
      </form>
    </div>

    <div class="feed-img-container">
      <% user.posts.forEach(function(post){ %>
        <div class="feed-img">
        <img
          class="feed-image"
          src="/images/uploads/<%= post.image %>"
          alt="img"
        />
        <div class="description"><%= post.description %></div>
      </div>
      <% })  %>
      
    </div>

  </body>
</html>
